<nav id="nav">
  <a href="#" class="nav-opener"><i class="fa fa-bars"></i></a>
  <div class="nav-holder">
    <ul class="list-inline nav-top">
      <li>
        <a href="index.html">Home</a>
        <div class="mega-drop">
          <div class="drop-holder">
            <div class="coll">
              <strong class="title">HOME</strong>
              <ul class="list-unstyled">
                <li><a href="index-agency.html">Home - Agency</a></li>
                <li><a href="index-business.html">Home - Business</a></li>
                <li><a href="index-creative.html">Home - Creative</a></li>
                <li><a href="index-croporate.html">Home - Croporate</a></li>
                <li><a href="index-minimal.html">Home - Minimal</a></li>
                <li><a href="index-personal.html">Home - Personal</a></li>
                <li><a href="index-photographer.html">Home - Photographer</a></li>
                <li><a href="index-freelancer.html">Home - Freelancer</a></li>
                <li><a href="index-wedding.html">Home - Wedding</a></li>
                <li><a href="index-shop.html">Home - Shop</a></li>
                <li><a href="index-restaurant.html">Home - Restaurant</a></li>
                <li><a href="index-home-parallax.html">Home - Parallax</a></li>
                <li class="active"><a href="index-architecture.html">Home - Architecture</a></li>
                <li><a href="index-construction.html">Home - Construction</a></li>
              </ul>
            </div>
            <div class="coll">
              <strong class="title">HOME</strong>
              <ul class="list-unstyled">
                <li><a href="index-app-showcase.html">Home - App Showcase</a></li>
                <li><a href="index-education.html">Home - Education</a></li>
                <li><a href="index-lawyer.html">Home - Lawyer</a></li>
                <li><a href="index-plumber.html">Home - Plumber</a></li>
                <li><a href="index-real-estate.html">Home - Real Estate</a></li>
                <li><a href="index-travel.html">Home - Travel</a></li>
                <li><a href="index-yoga.html">Home - Yoga</a></li>
                <li><a href="index-spa.html">Home - Spa</a></li>
              </ul>
              <strong class="title">HOME Portfolio</strong>
              <ul class="list-unstyled">
                <li><a href="index-portfolio.html">Home - Portfolio 1</a></li>
                <li><a href="index-portfolio-2.html">Home - Portfolio 2</a></li>
                <li><a href="index-portfolio-3.html">Home - Portfolio 3</a></li>
                <li><a href="index-portfolio-4.html">Home - Portfolio 4</a></li>
                <li><a href="index-portfolio-5.html">Home - Portfolio 5</a></li>
              </ul>
            </div>
            <div class="coll">
              <strong class="title">HOME Blog</strong>
              <ul class="list-unstyled">
                <li><a href="index-blog.html">Home - Blog 1</a></li>
                <li><a href="index-blog-2.html">Home - Blog 2</a></li>
                <li><a href="index-blog-3.html">Home - Blog 3</a></li>
                <li><a href="index-blog-4.html">Home - Blog 4</a></li>
              </ul>
              <strong class="title">one page</strong>
              <ul class="list-unstyled">
                <li><a href="index-one-page.html">onepage - Default</a></li>
                <li><a href="index-onepage-agency.html">onepage - Agency</a></li>
                <li><a href="index-onepage-business.html">onepage - Business</a></li>
                <li><a href="index-onepage-creative.html">onepage - Creative</a></li>
                <li><a href="index-onepage-croporate.html">onepage - Croporate</a></li>
                <li><a href="index-onepage-minimal.html">onepage - Minimal</a></li>
                <li><a href="index-onepage-personal.html">onepage - Personal</a></li>
                <li><a href="index-onepage-freelancer.html">onepage - Freelancer</a></li>
                <li><a href="index-onepage-Wedding.html">onepage - Wedding</a></li>
              </ul>
            </div>
            <div class="coll">
              <strong class="title">one page</strong>
              <ul class="list-unstyled">
                <li><a href="index-onepage-restaurant.html">onepage - restaurant</a></li>
                <li><a href="index-onepage-architecture.html">onepage - Architecture</a></li>
                <li><a href="index-onepage-construction.html">onepage - Construction</a></li>
                <li><a href="index-onepage-education.html">onepage - Education</a></li>
                <li><a href="index-onepage-lawyer.html">onepage - Lawyer</a></li>
                <li><a href="index-onepage-plumber.html">onepage - Plumber</a></li>
                <li><a href="index-onepage-travel.html">onepage - Travel</a></li>
                <li><a href="index-onepage-yoga.html">onepage - Yoga</a></li>
                <li><a href="index-onepage-spa.html">onepage - Spa</a></li>
              </ul>
              <strong class="title">landing Page</strong>
              <ul class="list-unstyled">
                <li><a href="index-app-showcase.html">Home - App Showcase</a></li>
                <li><a href="index-applanding-page.html">Home - Applanding Page</a></li>
                <li><a href="index-applanding-page2.html">Home - Applanding Page 2</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a href="pages.html">Pages</a>
        <div class="mega-drop">
          <div class="drop-holder">
            <div class="coll">
              <strong class="title">COMPANY</strong>
              <ul class="list-unstyled">
                <li><a href="about-us.html">ABOUT US</a></li>
                <li><a href="about-me.html">ABOUT ME</a></li>
                <li><a href="clients.html">CLIENTS</a></li>
                <li><a href="testimonials.html">TESTIMONIALS</a></li>
                <li><a href="team.html">OUR TEAM</a></li>
                <li><a href="team-single.html">TEAM SINGLE</a></li>
                <li><a href="contact.html">contact</a></li>
              </ul>
            </div>
            <div class="coll">
              <strong class="title">UTLITY</strong>
              <ul class="list-unstyled">
                <li><a href="services.html">services</a></li>
                <li><a href="services2.html">service 2</a></li>
                <li><a href="faq-1.html">FAQ LAYOUT 1</a></li>
                <li><a href="faq-2.html">FAQ LAYOUT 2</a></li>
                <li><a href="faq-3.html">FAQ LAYOUT 3</a></li>
                <li><a href="sitemap.html">sitemap</a></li>
                <li><a href="blank-page.html">blank page</a></li>
              </ul>
            </div>
            <div class="coll">
              <strong class="title">LAYOUT DESIGN</strong>
              <ul class="list-unstyled">
                <li><a href="layout-full-widthwide.html">LAYOUT WIDE</a></li>
                <li><a href="layout-full-width.html">FULL WIDTH</a></li>
                <li><a href="layout-left-sidebar.html">LEFT SIDE BAR</a></li>
                <li><a href="layout-right-sidebar.html">RIGHT SIDEBAR</a></li>
                <li><a href="layout-both-sidebar.html">both  SIDEBAR</a></li>
                <li><a href="layout-side-navigation.html">SIDE NAVIGATION</a></li>
                <li><a href="index-freelancer.html">vertical menu</a></li>
              </ul>
            </div>
            <div class="coll">
              <strong class="title">Miscellaneous</strong>
              <ul class="list-unstyled">
                <li><a href="comming-soon.html">coming soon layout 1</a></li>
                <li><a href="comming-soon2.html">coming soon layout 2</a></li>
                <li><a href="comming-soon3.html">coming soon layout 3</a></li>
                <li><a href="404.html">404 - layout 1</a></li>
                <li><a href="404-2.html">404 - layout 2</a></li>
                <li><a href="404-3.html">404 - layout 3</a></li>
                <li><a href="login.html">Login</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a href="features.html">Features</a>
        <div class="drop">
          <ul class="list-unstyled">
            <li>
              <a href="rs-slider.html">SLIDERs</a>
              <div class="drop">
                <ul class="list-unstyled">
                  <li><a href="rs-slider.html">REVOLUTION SLIDER</a></li>
                  <li><a href="index-onepage-interactive.html">interactive</a></li>
                  <li><a href="index-parallax.html">parallax</a></li>
                  <li><a href="index-youtube.html">YOUTUBE</a></li>
                  <li><a href="index-vimeo.html">VIMEO</a></li>
                  <li><a href="index-html5video.html">HTML5 VIDEO</a></li>
                  <li><a href="index-text-rotator.html">TEXT ROTATER</a></li>
                  <li><a href="index-fixed-background.html">FIXED BACKGROUND</a></li>
                </ul>
              </div>
            </li>
            <li>
              <a href="index-agency.html#header">Headers</a>
              <div class="drop">
                <ul class="list-unstyled">
                  <li><a href="index-agency.html#header">Headers - Layout 1</a></li>
                  <li><a href="index-business.html#header">Headers - Layout 2</a></li>
                  <li><a href="index-croporate.html#header">Headers - Layout 3</a></li>
                  <li><a href="index-creative.html#header">Headers - Layout 4</a></li>
                  <li><a href="index-freelancer.html#header">Headers - Layout 5</a></li>
                  <li><a href="index-portfolio.html#header">Headers - Layout 6</a></li>
                  <li><a href="index-portfolio-2.html#header">Headers - Layout 7</a></li>
                  <li><a href="index-photographer.html#header">Headers - Layout 8</a></li>
                  <li><a href="index-minimal.html#header">Headers - Layout 9</a></li>
                  <li><a href="index-one-page.html#header">Headers - Layout 10</a></li>
                  <li><a href="index-restaurant.html#header">Headers - Layout 11</a></li>
                  <li><a href="index-blog.html#header">Headers - Layout 12</a></li>
                  <li><a href="index-app-showcase.html#header">Headers - Layout 13</a></li>
                  <li><a href="index-applanding-page.html#header">Headers - Layout 14</a></li>
                  <li><a href="index-wedding.html#header">Headers - Layout 15</a></li>
                  <li><a href="index-shop.html#header">Headers - Layout 16</a></li>
                  <li><a href="index-construction.html#header">Headers - Layout 17</a></li>
                  <li><a href="index-plumber.html#header">Headers - Layout 18</a></li>
                  <li><a href="index-blog-4.html#header">Headers - Layout 19</a></li>
                </ul>
              </div>
            </li>
            <li>
              <a href="index-agency.html#footer">Footers</a>
              <div class="drop">
                <ul class="list-unstyled">
                  <li><a href="index-agency.html#footer">Footers - Layout 1</a></li>
                  <li><a href="index-business.html#footer">Footers - Layout 2</a></li>
                  <li><a href="index-croporate.html#footer">Footers - Layout 3</a></li>
                  <li><a href="index-creative.html#footer">Footers - Layout 4</a></li>
                  <li><a href="index-minimal.html#footer">Footers - Layout 5</a></li>
                  <li><a href="index-personal.html#footer">Footers - Layout 6</a></li>
                  <li><a href="index-photographer.html#footer">Footers - Layout 7</a></li>
                  <li><a href="index-freelancer.html#footer">Footers - Layout 8</a></li>
                  <li><a href="index-wedding.html#footer">Footers - Layout 9</a></li>
                  <li><a href="index-shop.html#footer">Footers - Layout 10</a></li>
                  <li><a href="index-restaurant.html#footer">Footers - Layout 11</a></li>
                  <li><a href="index-construction.html#footer">Footers - Layout 12</a></li>
                  <li><a href="index-app-showcase.html#footer">Footers - Layout 13</a></li>
                  <li><a href="index-applanding-page.html#footer">Footers - Layout 14</a></li>
                  <li><a href="index-applanding-page2.html#footer">Footers - Layout 15</a></li>
                  <li><a href="index-one-page.html#footer">Footers - Layout 16</a></li>
                  <li><a href="index-yoga.html#footer">Footers - Layout 17</a></li>
                  <li><a href="index-portfolio-2.html#footer">Footers - Layout 18</a></li>
                  <li><a href="index-blog.html#footer">Footers - Layout 19</a></li>
                </ul>
              </div>
            </li>
            <li>
              <a href="page-title.html">Page Title</a>
              <div class="drop">
                <ul class="list-unstyled">
                  <li>
                    <a href="page-title.html">DEFAULT</a>
                    <div class="drop right-align">
                      <ul class="list-unstyled">
                        <li><a href="page-title.html">left align</a></li>
                        <li><a href="page-title-right-align.html">right align</a></li>
                        <li><a href="page-title-center-align.html">center align</a></li>
                        <li><a href="page-title-dark-background.html">dark background</a></li>
                        <li><a href="page-title-grey-background.html">grey background</a></li>
                        <li><a href="page-title-image-background.html">image background</a></li>
                        <li><a href="page-title-video-background.html">video background</a></li>
                        <li><a href="page-title-patteren-background.html">pattern background</a></li>
                        <li><a href="page-title-parallax.html">parallax background</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="page-title-alt.html">ALT</a>
                    <div class="drop right-align">
                      <ul class="list-unstyled">
                        <li><a href="page-title-alt.html">left align</a></li>
                        <li><a href="page-title-alt-right-align.html">right align</a></li>
                        <li><a href="page-title-alt-center-align.html">center align</a></li>
                        <li><a href="page-title-alt-dark-background.html">dark background</a></li>
                        <li><a href="page-title-alt-grey-background.html">grey background</a></li>
                        <li><a href="page-title-alt-image-background.html">image background</a></li>
                        <li><a href="page-title-alt-video-background.html">video background</a></li>
                        <li><a href="page-title-alt-pattern-background.html">pattern background</a></li>
                        <li><a href="page-title-alt-parallax-background.html">parallax background</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="page-title-alt2.html">ALT 2</a>
                    <div class="drop right-align">
                      <ul class="list-unstyled">
                        <li><a href="page-title-alt2.html">left align</a></li>
                        <li><a href="page-title-alt2-right-align.html">right align</a></li>
                        <li><a href="page-title-alt2-center-align.html">center align</a></li>
                        <li><a href="page-title-alt2-dark-background.html">dark background</a></li>
                        <li><a href="page-title-alt2-grey-background.html">grey background</a></li>
                        <li><a href="page-title-alt2-image-background.html">image background</a></li>
                        <li><a href="page-title-alt2-video-background.html">video background</a></li>
                        <li><a href="page-title-alt2-pattern-background.html">pattern background</a></li>
                        <li><a href="page-title-alt2-parallax-background.html">parallax background</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="portfolio.html">Portfolio</a>
        <div class="drop">
          <ul class="list-unstyled">
            <li>
              <a href="portfolio-2columns.html">GIRD</a>
              <div class="drop">
                <ul class="list-unstyled">
                  <li>
                    <a href="portfolio-2columns.html">with space</a>
                    <div class="drop">
                      <ul class="list-unstyled">
                        <li><a href="portfolio-1columns.html">1 column</a></li>
                        <li><a href="portfolio-2columns.html">2 column</a></li>
                        <li><a href="portfolio-3columns.html">3 column</a></li>
                        <li><a href="portfolio-4columns.html">4 column</a></li>
                        <li><a href="portfolio-5columns.html">5 column</a></li>
                        <li><a href="portfolio-6columns.html">6 column</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="portfolio-2columns-nospace.html">without space</a>
                    <div class="drop">
                      <ul class="list-unstyled">
                        <li><a href="portfolio-1columns-nospace.html">1 column</a></li>
                        <li><a href="portfolio-2columns-nospace.html">2 column</a></li>
                        <li><a href="portfolio-3columns-nospace.html">3 column</a></li>
                        <li><a href="portfolio-4columns-nospace.html">4 column</a></li>
                        <li><a href="portfolio-5columns-nospace.html">5 column</a></li>
                        <li><a href="portfolio-6columns-nospace.html">6 column</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a href="portfolio-masonry-2column.html">masonry</a>
              <div class="drop">
                <ul class="list-unstyled">
                  <li>
                    <a href="portfolio-masonry-2column.html">with space</a>
                    <div class="drop">
                      <ul class="list-unstyled">
                        <li><a href="portfolio-masonry-2column.html">2 column</a></li>
                        <li><a href="portfolio-masonry-3column.html">3 column</a></li>
                        <li><a href="portfolio-masonry-4column.html">4 column</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="portfolio-masonry-2column-nospace.html">without space</a>
                    <div class="drop">
                      <ul class="list-unstyled">
                        <li><a href="portfolio-masonry-2column-nospace.html">2 column</a></li>
                        <li><a href="portfolio-masonry-3column-nospace.html">3 column</a></li>
                        <li><a href="portfolio-masonry-4column-nospace.html">4 column</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="portfolio-masonry-4column-fullwidth.html">LAYOUT</a>
                    <div class="drop">
                      <ul class="list-unstyled">
                        <li><a href="portfolio-masonry-4column-fullwidth.html">4 cloumn full width </a></li>
                        <li><a href="portfolio-masonry-4column-fullwidth-nospace.html">4 cloumn full width  2</a></li>
                        <li><a href="portfolio-masonry-5column-fullwidth.html">5 cloumn full width </a></li>
                        <li><a href="portfolio-masonry-5column-fullwidth-nospace.html">5 cloumn full width  2</a></li>
                        <li><a href="portfolio-alt-masonry-fullwidth.html">ALT FULL WIDTH</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a href="portfolio-layout-full-width.html">layout</a>
              <div class="drop">
                <ul class="list-unstyled">
                  <li><a href="portfolio-layout-full-width.html">FULL WIDTH</a></li>
                  <li><a href="portfolio-layout-full-width-nospace.html">FULL WIDTH NO SPACE</a></li>
                  <li><a href="portfolio-layout-left-sidebar.html">LEFT SIDEBAR</a></li>
                  <li><a href="portfolio-layout-right-sidebar.html">right SIDEBAR</a></li>
                  <li><a href="portfolio-layout-both-sidebar.html">both SIDEBAR</a></li>
                </ul>
              </div>
            </li>
            <li>
              <a href="portfolio-vert-2columns.html">VERTICAL</a>
              <div class="drop">
                <ul class="list-unstyled">
                  <li>
                    <a href="portfolio-vert-2columns.html">with space</a>
                    <div class="drop">
                      <ul class="list-unstyled">
                        <li><a href="portfolio-vert-1columns.html">1 column</a></li>
                        <li><a href="portfolio-vert-2columns.html">2 column</a></li>
                        <li><a href="portfolio-vert-3columns.html">3 column</a></li>
                        <li><a href="portfolio-vert-4columns.html">4 column</a></li>
                        <li><a href="portfolio-vert-5columns.html">5 column</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="portfolio-vert-1columns-nospace.html">without space</a>
                    <div class="drop">
                      <ul class="list-unstyled">
                        <li><a href="portfolio-vert-1columns-nospace.html">1 column</a></li>
                        <li><a href="portfolio-vert-2columns-nospace.html">2 column</a></li>
                        <li><a href="portfolio-vert-3columns-nospace.html">3 column</a></li>
                        <li><a href="portfolio-vert-4columns-nospace.html">4 column</a></li>
                        <li><a href="portfolio-vert-5columns-nospace.html">5 column</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a href="portfolio-parallex-fullwidth.html">PARALLAX</a>
              <div class="drop">
                <ul class="list-unstyled">
                  <li><a href="portfolio-parallex.html">default</a></li>
                  <li><a href="portfolio-parallex-fullwidth.html">parallax full width</a></li>
                </ul>
              </div>
            </li>
            <li>
              <a href="portfolio-single-image.html">SINGLE</a>
              <div class="drop">
                <ul class="list-unstyled">
                  <li><a href="portfolio-single-image.html">image</a></li>
                  <li><a href="portfolio-single-image-fullwidth.html">image full width</a></li>
                  <li><a href="portfolio-single-slider.html">slider</a></li>
                  <li><a href="portfolio-single-slider-fullwidth.html">slider full width</a></li>
                  <li><a href="portfolio-single-parallex.html">parallax</a></li>
                  <li><a href="portfolio-single-parallex-fullwidth.html">parallax full width</a></li>
                  <li><a href="portfolio-single-masonry.html">masonry</a></li>
                  <li><a href="portfolio-single-video-vimeo.html">vimeo</a></li>
                  <li><a href="portfolio-single-video-youtube.html">youtube</a></li>
                  <li><a href="portfolio-single-video.html">html5 video</a></li>
                  <li><a href="portfolio-single-video-dailymotion.html">dialymotion</a></li>
                  <li><a href="portfolio-single-soundcloud.html">sound cloud</a></li>
                  <li><a href="portfolio-single-3-column.html">3 column</a></li>
                  <li><a href="portfolio-single-audio.html">audio</a></li>
                  <li><a href="portfolio-single-blockquote.html">blockquote</a></li>
                  <li><a href="portfolio-single-link.html">link</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="blogs.html">Blogs</a>
        <div class="drop">
          <ul class="list-unstyled">
            <li>
              <a href="blog-grids-2column.html">GIRD</a>
              <div class="drop">
                <ul class="list-unstyled">
                  <li>
                    <a href="blog-grids-2column.html">with space</a>
                    <div class="drop">
                      <ul class="list-unstyled">
                        <li><a href="blog-grids-2column.html">2 column</a></li>
                        <li><a href="blog-grids-3column.html">3 column</a></li>
                        <li><a href="blog-grids-4column.html">4 column</a></li>
                        <li><a href="blog-grids-fullwidth.html">Full width</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="blog-grids-2column-nospace.html">without space</a>
                    <div class="drop">
                      <ul class="list-unstyled">
                        <li><a href="blog-grids-2column-nospace.html">2 column</a></li>
                        <li><a href="blog-grids-3column-nospace.html">3 column</a></li>
                        <li><a href="blog-grids-4column-nospace.html">4 column</a></li>
                        <li><a href="blog-grids-fullwidth-nospace.html">Full width</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a href="blog-masonry-2column.html">masonry</a>
              <div class="drop">
                <ul class="list-unstyled">
                  <li>
                    <a href="blog-grids-2column.html">with space</a>
                    <div class="drop">
                      <ul class="list-unstyled">
                        <li><a href="blog-masonry-2column.html">2 column</a></li>
                        <li><a href="blog-masonry-3column.html">3 column</a></li>
                        <li><a href="blog-masonry-4column.html">4 column</a></li>
                        <li><a href="blog-masonry-fullwidth.html">Full width</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="blog-grids-2column-nospace.html">without space</a>
                    <div class="drop">
                      <ul class="list-unstyled">
                        <li><a href="blog-masonry-2column-nospace.html">2 column</a></li>
                        <li><a href="blog-masonry-3column-nospace.html">3 column</a></li>
                        <li><a href="blog-masonry-4column-nospace.html">4 column</a></li>
                        <li><a href="blog-masonry-fullwidth-nospace.html">Full width</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a href="blog-full-width-accordion.html">accordion</a>
              <div class="drop">
                <ul class="list-unstyled">
                  <li><a href="blog-full-width-accordion.html">FULL WIDTH</a></li>
                  <li><a href="blog-full-width-accordion-leftsidebar.html">LEFT SIDEBAR</a></li>
                  <li><a href="blog-full-width-accordion-rightsidebar.html">RIGHT SIDEBAR</a></li>
                  <li><a href="blog-full-width-accordion-bothsidebar.html">BOTH  SIDEBAR</a></li>
                </ul>
              </div>
            </li>
            <li>
              <a href="blog-timeline-default.html">TIMELINE</a>
              <div class="drop">
                <ul class="list-unstyled">
                  <li>
                    <a href="blog-timeline-default.html">ALT</a>
                    <div class="drop">
                      <ul class="list-unstyled">
                        <li><a href="blog-timeline-default.html">DEFAULT</a></li>
                        <li><a href="blog-timeline-default-rightsidebar.html">RIGHT SIDEBAR</a></li>
                        <li><a href="blog-timeline-default-leftsidebar.html">LEFT SIDEBAR</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="blog-alt-timeline-default.html">ALT 2</a>
                    <div class="drop">
                      <ul class="list-unstyled">
                        <li><a href="blog-alt-timeline-default.html">DEFAULT</a></li>
                        <li><a href="blog-alt-timeline-default-rightsidebar.html">RIGHT SIDEBAR</a></li>
                        <li><a href="blog-alt-timeline-default-leftsidebar.html">LEFT SIDEBAR</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a href="blog-full-width.html">LAYOUT</a>
              <div class="drop">
                <ul class="list-unstyled">
                  <li>
                    <a href="blog-full-width.html">FULL WIDTH</a>
                    <div class="drop">
                      <ul class="list-unstyled">
                        <li><a href="blog-full-width.html">DEFAULT</a></li>
                        <li><a href="blog-full-width-list.html">LIST</a></li>
                        <li><a href="blog-full-width-leftsidebar.html">LEFT SIDEBAR</a></li>
                        <li><a href="blog-full-width-rightsidebar.html">right SIDEBAR</a></li>
                        <li><a href="blog-full-width-bothsidebar.html">both SIDEBAR</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="blog-alt-default.html">ALT</a>
                    <div class="drop">
                      <ul class="list-unstyled">
                        <li><a href="blog-alt-default.html">default</a></li>
                        <li><a href="blog-alt2-default.html">default - layout 2</a></li>
                        <li><a href="blog-alt-default-leftsidebar.html">LEFT SIDEBAR</a></li>
                        <li><a href="blog-alt2-default-leftsidebar.html">LEFT SIDEBAR - layout 2</a></li>
                        <li><a href="blog-alt-default-rightsidebar.html">right SIDEBAR</a></li>
                        <li><a href="blog-alt2-default-rightsidebar.html">right SIDEBAR - layout 2</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a href="blog-single-image.html">SINGLE</a>
              <div class="drop">
                <ul class="list-unstyled">
                  <li><a href="blog-single-image.html">image</a></li>
                  <li><a href="blog-single-image-fullwidth.html">image full width</a></li>
                  <li><a href="blog-single-slider.html">slider</a></li>
                  <li><a href="blog-single-video-vimeo.html">vimeo</a></li>
                  <li><a href="blog-single-video-youtube.html">youtube</a></li>
                  <li><a href="blog-single-video.html">html5 video</a></li>
                  <li><a href="blog-single-video-daily-motion.html">dialymotion</a></li>
                  <li><a href="blog-single-soundcloud.html">sound cloud</a></li>
                  <li><a href="blog-single-3column.html">3 column</a></li>
                  <li><a href="blog-single-audio.html">audio</a></li>
                  <li><a href="blog-single-blockquote.html">blockquote</a></li>
                  <li>
                    <a href="blog-single-default-sidebar-left.html">SIDEBAR</a>
                    <div class="drop">
                      <ul class="list-unstyled">
                        <li><a href="blog-single-default-sidebar-left.html">default</a></li>
                        <li><a href="blog-single-default-sidebar-left.html">lEFT SIDEBAR</a></li>
                        <li><a href="blog-single-default-sidebar-right.html">right SIDEBAR</a></li>
                        <li><a href="blog-single-default-sidebar-both.html">both sidebar</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="shop.html">shop</a>
        <div class="drop">
          <ul class="list-unstyled">
            <li>
              <a href="shop-grid-3column.html">GIRD</a>
              <div class="drop">
                <ul class="list-unstyled">
                  <li><a href="shop-grid-3column.html">3 column</a></li>
                  <li><a href="shop-grid-3column-rightsidebar.html">3 column - right sidebar</a></li>
                  <li><a href="shop-grid-3column-leftsidebar.html">3 column - left sidebar</a></li>
                  <li><a href="shop-grid-4column.html">4 column</a></li>
                  <li><a href="shop-grid-4column-rightsidebar.html">4 column - right sidebar</a></li>
                  <li><a href="shop-grid-4column-leftsidebar.html">4 column - left sidebar</a></li>
                  <li><a href="shop-grid-full-width.html">full width</a></li>
                </ul>
              </div>
            </li>
            <li>
              <a href="shop-list.html">LIST</a>
              <div class="drop">
                <ul class="list-unstyled">
                  <li><a href="shop-list.html">default</a></li>
                  <li><a href="shop-list-leftsidebar.html">right sidebar</a></li>
                  <li><a href="shop-list-rightsidebar.html">leftsidebar</a></li>
                </ul>
              </div>
            </li>
            <li><a href="shop-single.html">single</a></li>
            <li><a href="shop-cart.html">cart</a></li>
            <li><a href="shop-checkout.html">checkout</a></li>
            <li><a href="login.html">login</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="shortcodes.html">ShortCodes</a>
        <div class="mega-drop">
          <div class="drop-holder">
            <div class="coll">
              <ul class="list-unstyled">
                <li><a href="shortcode-alert-boxes.html"><i class="fa fa-bolt"></i> ALERT BOXES</a></li>
                <li><a href="shortcode-animations.html"><i class="fa fa-certificate"></i> ANIMATION</a></li>
                <li><a href="shortcode-blockquotes.html"><i class="fa fa-compress"></i> BLOCQUOTE</a></li>
                <li><a href="shortcode-buttons.html"><i class="fa fa-dot-circle-o"></i> BUTTONS</a></li>
                <li><a href="shortcode-carousel.html"><i class="fa fa-eye"></i> CAROUSAL</a></li>
                <li><a href="shortcode-clients.html"><i class="fa fa-gavel"></i> CLIENTS</a></li>
                <li><a href="shortcode-columns.html"><i class="fa fa-odnoklassniki"></i> CLOUMNS</a></li>
                <li><a href="shortcode-counters.html"><i class="fa fa-th-large"></i> COUNTERS</a></li>
              </ul>
            </div>
            <div class="coll">
              <ul class="list-unstyled">
                <li><a href="shortcode-dividers.html"><i class="fa fa-bolt"></i> DIVIDERS</a></li>
                <li><a href="shortcode-galleries.html"><i class="fa fa-bolt"></i> GALLERIES</a></li>
                <li><a href="shortcode-heading-styles.html"><i class="fa fa-bolt"></i> HEADING STYLES</a></li>
                <li><a href="shortcode-icon-boxes.html"><i class="fa fa-bolt"></i> ICON BOXES</a></li>
                <li><a href="shortcode-icon-lists.html"><i class="fa fa-bolt"></i> ICON LISTS</a></li>
                <li><a href="shortcode-labels.html"><i class="fa fa-bolt"></i> LABELS</a></li>
                <li><a href="shortcode-lightbox.html"><i class="fa fa-bolt"></i> LIGHTBOX</a></li>
                <li><a href="shortcode-lists-panels.html"><i class="fa fa-bolt"></i> LIST PANELS</a></li>
              </ul>
            </div>
            <div class="coll">
              <ul class="list-unstyled">
                <li><a href="shortcode-maps.html"><i class="fa fa-bolt"></i> MAPS</a></li>
                <li><a href="shortcode-media-embeds.html"><i class="fa fa-bolt"></i> MEDIA EMBDED</a></li>
                <li><a href="shortcode-modal-boxes.html"><i class="fa fa-bolt"></i> MODAL BOXES</a></li>
                <li><a href="shortcode-navigations.html"><i class="fa fa-bolt"></i> NAVIGATIONS</a></li>
                <li><a href="shortcode-pagination.html"><i class="fa fa-bolt"></i> PAGINATIONS</a></li>
                <li><a href="shortcode-pies-skills.html"><i class="fa fa-bolt"></i> PIES SKILLS</a></li>
                <li><a href="shortcode-pricing-boxes.html"><i class="fa fa-bolt"></i> PRICING BOXES</a></li>
                <li><a href="shortcode-process-steps.html"><i class="fa fa-bolt"></i> PROCESS STEPS</a></li>
              </ul>
            </div>
            <div class="coll">
              <ul class="list-unstyled">
                <li><a href="shortcode-promo-boxes.html"><i class="fa fa-bolt"></i> PROMO BOXES</a></li>
                <li><a href="shortcode-responsive.html"><i class="fa fa-bolt"></i> RESPONSIVE</a></li>
                <li><a href="shortcode-sections.html"><i class="fa fa-bolt"></i> SECTIONS</a></li>
                <li><a href="shortcode-social-icons.html"><i class="fa fa-bolt"></i> SOCIAL ICONS</a></li>
                <li><a href="shortcode-tables.html"><i class="fa fa-bolt"></i> TABLES</a></li>
                <li><a href="shortcode-tabs.html"><i class="fa fa-bolt"></i> TABS</a></li>
                <li><a href="shortcode-thumbnails.html"><i class="fa fa-bolt"></i> THUMBNAILS</a></li>
                <li><a href="shortcode-toggles.html"><i class="fa fa-bolt"></i> TOGGLE</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
