<nav id="nav">
  <a href="#" class="nav-opener"><i class="fa fa-bars"></i></a>
  <div class="nav-holder">
    <ul class="list-inline nav-top">
      <li>
        <a href="/ index.html">Home</a>
      </li>
      <li>
        <a href="/pages.html">Pages</a>
      </li>
      <li>
        <a href="/features.html">Features</a>
      </li>
      <li>
        <a href="/portfolio.html">Portfolio</a>
      </li>
      <li>
        <a href="/blogs.html">Blogs</a>
      </li>
      <li>
        <a href="/shop.html">shop</a>
      </li>
      <li>
        <a href="/shortcodes.html">ShortCodes</a>
      </li>
    </ul>
  </div>
</nav>
